html,
body {
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100%;
}

#dataFrom {
	font-size: 12px;
	text-align: right;
	margin-right: 40px;
	color: #999;
}

#dataFrom a,
#dataFrom a:active,
#dataFrom a:hover {
	font-size: 12px;
	color: #999;
	text-decoration: none;
}

#main {
	margin-top: -20px;
	width: 100%;
	height: calc(100% - 130px);
}

#realTimeData {
	border: 2px solid #eee;
	border-radius: 12px;
	margin: 10px;
	background-color: #639a081f;
	display: inline-block;
	width: calc(100% - 26px);
}

.statistics {
	display: flex;
	margin: 5px auto;
	padding: 0;
	max-width: 600px;
}

.statistics li {
	display: flex;
	flex: 1 1;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.statistics li span {
	color: #666;
	font-size: 12px;
}

.datatitle {
	font-size: 18px;
	font-weight: bold;
	text-align: center;
	color: #2d9fe2e8;
}

.datasubtitle {
	font-size: 14px;
	margin: 5px auto;
	text-align: center;
	color: #999;
	cursor: pointer;
	width: fit-content;
}

.datasubtitle::after {
	content: '?';
	font-size: 12px;
	transform: scale(0.8);
	margin: -5px 5px;
	text-align: center;
	color: #fff;
	width: 10px;
	height: 10px;
	line-height: 10px;
	padding: 0;
	position: absolute;
	border: 1px solid #ccc;
	border-radius: 100%;
	background-color: #ccc;
}

.statistics li strong {
	font-size: 24px;
	cursor: pointer;
}

.statistics li strong::after {
	content: attr(dataContent);
	color: #3186cf6b;
	font-size: 12px;
	transform: scale(0.9);
	position: absolute;
	margin: -5px 0px;
}

.statistics li span::after {
	content: attr(dataContent);
	color: #3186cf6b;
	font-size: 12px;
	transform: scale(0.8);
	position: absolute;
	margin: -5px 0px;
}

.tooltipster-shadow {
	opacity: 0.9;
}
